@font-face {
    font-family: Robotto;
    src: url("fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: Montserrat;
    src: url("fonts/Montserrat-Regular.ttf");
}
body{
    margin: 0;
    font-family: Robotto;
}
h2,h3,h4,nav,.button,footer{
    font-family: Montserrat;
}
h2{
    font-size: 2em;
    margin: 80px 0 40px 0;
}
h2,h3,h4{
    font-weight: normal;
    color: #323335;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
}
nav a {
    color: #000;
}
nav .fa-bars {
    display: none;
}
ul a:hover{
    border-bottom:2px solid;
}
.logo{
    margin: 10px;
    align-self: start;
}
.logo{
    width: 120px;
}
nav ul{
    width: 40%;
    display: flex;
    justify-content: space-around;

}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.switch {
    align-self: center;
    position: absolute;
    display: inline-block;
    width: 160px;
    height: 70px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 60px;
    width: 60px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #6599a0;
}

input:focus + .slider {
    box-shadow: 0 0 1px #6599a0;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(90px);
    transform: translateX(90px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.block-choice{
    width: 100%;
    display: flex;
    height: 450px;
    justify-content: center;
}
.bg-individual{
    background-image: url("images/img-particulier.png");
}
.bg-industry{
    background-image: url("images/img-industry.png");
}
.bg-individual, .bg-industry{
    background-position: center;
    width: 50%;
    background-repeat: no-repeat;
}

.choice-industry,.choice-individual{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: black;
    background: rgba(0, 0, 0, 0.4);
    font-size: 1.5em;
}
.choice-industry:hover,.choice-individual:hover{
    cursor: pointer;
}
.choice-industry:hover .titleIndustry,.choice-individual:hover .titleIndividual{
    background: #6599A0;
    color: #FFFFFF;
    border: 1px solid #323335;
    transition: 400ms;

}
.choice-industry h3,.choice-individual h3, .button{
    background: white;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #6599A0;
}
.switch-individual, .switch-industry{
    display: none;
    color: #FFFFFF;
    line-height: 25px;
}
.switch-industry, .switch-individual{
    padding: 0px 100px;
    font-size: 0.7em;
}
.capsule{
    width: 90%;
    margin: 0 5%;
}
h2, .subTitleAppli{
    text-align: center;
}
.subTitleAppli{
    margin-top: -30px;
    font-size: 2em;
    color: #68939A;
}
.blocks-application{
    display: grid;
    grid-template-columns: repeat(4,20%);
    margin: 5% 5%;
    justify-content: space-around;
}
.blocks-application div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.blocks-application img {
width: 80px;
}
.blocks-application h4{
    font-size: 2em;
    color: #323335;
    text-align: center;
}
.blocks-application p {
    font-size: 1.5em;
    color: #323335;

}
.angle1, .angle2{
    position: absolute;
}
.angle1{
    margin-left: 3%;
}
.angle2{
    right: 0;
    margin-right: 3%;
    margin-top: -10%;
}
#parteners > div{
    justify-content: center;
    margin: 5% 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}
#parteners > div > div{
    display: flex;
    justify-content: center;
}
#parteners img{
    width: auto;
    height: 100px;
}
.block-contact{
    display: flex;
    justify-content: center;
    border: 4px solid #6599A0;
    width: 90%;
    margin: 0 5%;
}
.block-contact > div{
    width: 50%;
}
.form-text{
    color: #FFFFFF;
    background: #6599A0;
}

.div-form form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.form-text , .div-form{
    padding: 20px;
    font-size: 1.6em;
}
.form-text ul{
    margin-left: -40px;
    margin-top: 85px;
}

form > input {
    border: 2px solid #6599A0;
    width: 80%;
    font-size: 0.8em;
    color: #323335;
    padding: 10px;
}
.input-message{
    padding-bottom: 20%;
}
form button{
    display: none;
}
.button{
    position: absolute;
    align-self: end;
    margin-left: -50px;
    margin-bottom: -30px;
    font-size: 1.6em;
    border-radius: 40px;
    padding: 15px 30px;
    color: #323335;
}
.button:hover{
    cursor: pointer;
    background: #6599A0;
    border: 1px solid #323335;
    transition: 400ms;
}
footer{
    background: #323335;
}
.div-footer{
    color: #FFFFFF;
    font-size: 2em;
    text-align: center;
    margin-top: 100px;
    padding: 30px 0;
}


.enable-switch-block{
    background: rgba(0, 0, 0, 0.8);
    justify-content: start;
    display: block;
}
.enable-switch-block:hover{
    cursor: auto;
}
.enable-switch-text{
    display: block;
}
.enable-switch-title{
    color: #FFFFFF;
    background: transparent !important;
    border: 0 !important;
    text-align: center;
    margin-top: 0;
}
.separate-nav-mobile{
    display: none;
    width: 40%;
    height: 2px;
    background: #FFFFFF;
}
.social-media-nav{
    display: none;

}
@media screen and (max-width: 1024px){
    nav{
        z-index: 1;
        top: 0;
        justify-content: start;
        position: sticky;
        background-image: linear-gradient(to bottom, #323335, transparent);
    }
    nav .logo{
        justify-self: center;
    }
    nav ul{
        display: none;
    }
    nav .fa-bars{
        margin-left: 15px;
        display: block;
    }
    #item-navbar:target{
        display: flex;
        flex-direction: column;
        position: absolute;
        background: #323335;
        margin-left: -30px;
        width: 50%;
        height: 200vh;
        justify-content: center;
        margin-top: 200px;
        align-items: center;
        line-height: 2;
    }
    #item-navbar:target a{
        color: #FFFFFF;
    }
    #item-navbar:target .separate-nav-mobile{
        display: block;
        margin: 20px 0;
    }
    .social-media-nav{
        display: flex;
        width: 50%;
    }
    .bg-individual, .bg-industry{
        width: 100%;
        height: 50%;
    }
    .block-choice{
        flex-direction: column;
        height: 750px;
    }
    .slider{
        transform: rotate(90deg);
    }
    .switch-individual, .switch-industry{
        line-height: 22px;
        padding: 0;
    }
}
